/* Styling to make it less ugly */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #201a1f;
  border-radius: 20px;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

body {
  font-family: "Lucida Console";
  background-color: #251f24;
}

input {
  width: 80%;
  overflow: hidden;
  border: 3px solid #751e5f;
  /* border-radius: 4px; */
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #ffffe6;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: auto;
}

label {
  color: white;
}

th,
td {
  padding: 15px;
  text-align: center;
  color: white;
}

table {
  width: 100%;
}

ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #201a1f;
  border-radius: 20px;
}

li2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* text-align: justify;
    text-justify: inter-word; */
}

col_text {
  color: #ffcc00;
}

col_text2 {
  color: #1fa9ad;
}